<component name="ArtifactManager">
  <artifact type="javafx" name="App">
    <output-path>$PROJECT_DIR$/out/artifacts/App</output-path>
    <properties id="javafx-properties">
      <options>
        <option name="appClass" value="ve.gob.cendit.cenditlab.tests.app.CenditLabApplicationTests" />
        <option name="description" value="" />
        <option name="title" value="CenditLab" />
        <option name="vendor" value="Jose Arias" />
      </options>
    </properties>
    <root id="root">
      <element id="archive" name="App.jar">
        <element id="module-output" name="App" />
        <element id="extracted-dir" path="$PROJECT_DIR$/out/artifacts/App/App.jar" path-in-jar="/" />
        <element id="extracted-dir" path="$PROJECT_DIR$/out/artifacts/App/Control.jar" path-in-jar="/" />
        <element id="extracted-dir" path="$PROJECT_DIR$/out/artifacts/App/Data.jar" path-in-jar="/" />
        <element id="extracted-dir" path="$PROJECT_DIR$/out/artifacts/App/UI-Base.jar" path-in-jar="/" />
        <element id="extracted-dir" path="$PROJECT_DIR$/out/artifacts/App/UI.jar" path-in-jar="/" />
      </element>
    </root>
  </artifact>
</component>