<component name="ArtifactManager">
  <artifact type="jar" name="App">
    <output-path>$PROJECT_DIR$/out/artifacts/App</output-path>
    <root id="archive" name="App.jar">
      <element id="dir-copy" path="$PROJECT_DIR$/src" />
      <element id="dir-copy" path="$PROJECT_DIR$/tests" />
      <element id="file-copy" path="$PROJECT_DIR$/tests/ve/gob/cendit/cenditlab/tests/app/CenditLabApplicationTests.java" />
      <element id="module-output" name="App" />
    </root>
  </artifact>
</component>