<component name="libraryTable">
  <library name="System">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../Systems/out/artifacts/System/System.jar!/" />
      <root url="jar://$PROJECT_DIR$/../UI/out/artifacts/UI_Base/UI-Base.jar!/" />
      <root url="jar://$PROJECT_DIR$/../UI/out/artifacts/UI/UI.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Core/out/artifacts/Core/Core.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../Systems/out/artifacts/System/System.jar!/" />
      <root url="jar://$PROJECT_DIR$/../UI/out/artifacts/UI_Base/UI-Base.jar!/" />
      <root url="jar://$PROJECT_DIR$/../UI/out/artifacts/UI/UI.jar!/" />
      <root url="jar://$PROJECT_DIR$/../Core/out/artifacts/Core/Core.jar!/" />
    </SOURCES>
  </library>
</component>